/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 juil. 2017, 01:44:37
    Author     : haclong
*/
@media screen and (min-width: 561px) {
    .container {margin: 3rem auto; width: 520px}
    header {padding-left: 6rem}
    main {padding: 2rem 2rem 4rem 7rem}
    input.form-text {width: 300px}
}
@media screen and (max-width: 560px) {
    .container {margin: 2rem auto ; width: 400px}
    header {padding-left: 3rem}
    main {padding: 3rem}
    input.form-text {width: 300px}
}
@media screen and (max-width: 430px) {
    .container {margin: 1rem auto; width: 300px}
    header {padding-left: 1rem}
    main {padding: 2rem}
    input.form-text {width: 230px}
}
@media screen and (max-width: 320px) {
    .container {margin: 0; width: 100%}
    header {padding-left: 0}
    main {padding: 1.4rem}
    h2 {font-size: 1.8rem}
    input.form-text {width: 220px}
}
.container header {white-space: nowrap}
h2 {margin-bottom: 2rem}
input.form-text {border-width: 1px; border-color: #999999; color: #666666; padding: 0.3125rem; height: 2.1rem}
div.description {visibility:hidden}
main a:link {color:#ffffff}
main a:hover {color:#aa00ff}
body.page-user-password #new-password {visibility:hidden}
