@media screen and (min-width: 561px) {
    #page-wrapper {margin: 3rem auto; width: 520px}
    header {padding-left: 4rem}
    main {padding: 2rem 2rem 4rem 4rem}
}
@media screen and (max-width: 560px) {
    #page-wrapper {margin: 2rem auto ; width: 400px}
    header {padding-left: 3rem}
    main {padding: 3rem}
}
@media screen and (max-width: 430px) {
    #page-wrapper {margin: 1rem auto; width: 300px}
    header {padding-left: 1rem}
    main {padding: 2rem}
}
@media screen and (max-width: 320px) {
    #page-wrapper {margin: 0; width: 100%}
    header {padding-left: 0}
    main {padding: 1.4rem}
    h2 {font-size: 1.8rem}
}

#page-wrapper header {white-space: nowrap}
h1.leader {color: #00aff0}
h2 {margin-bottom: 2rem}

